asn1crypto==1.4.0
attrs==21.2.0
base45==0.4.1
cbor==1.0.0
cbor2==5.4.0
certvalidator==0.11.1
cffi==1.14.6
cose==0.9.dev8
cryptography==3.4.7
ecdsa==0.17.0
oscrypto==1.2.1
pkg-resources==0.0.0
pycparser==2.20
six==1.16.0
